<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Project Explorer</title>
        
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
	    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
		<script src="js/animate.js" th:src="@{js/animate.js}"></script>
    </head>
    <body>
    	<div class="container">
   			<div class="row login-row">
    			<div class="panel-heading">
					<div class="panel-title align-center">
						<h1 class="title">Project Explorer</h1>
						<hr />
					</div>
	            </div>
	            
	            <div class="main-login main-center">
	            	<form th:action="@{/login}" method="post" class="form-horizontal">
	            		<div class="form-group">
							<div th:if="${param.error}">Invalid username and password.<br /></div>
					        <div th:if="${param.logout}">You have been logged out.<br /></div>
	            			<label for="username" class="cols-sm-2 control-label">User Name : </label>
	            			<div class="cols-sm-10">
								<input type="text" name="username" id="username" placeholder="Enter your username here" class="form-control"/>
							</div>
	            		</div>
	            		<div class="form-group">
	            			<label for="password" class="cols-sm-2 control-label">Password : </label>
	            			<div class="cols-sm-10">
								<input type="password" name="password" id="password" placeholder="Enter your password here" class="form-control"/>
							</div>
	            		</div>
	            		
	            		<div class="form-group">
	            			<input type="submit" value="Sign In" class="btn btn-primary btn-lg btn-block login-button"/>
	            		</div>
	            	</form>
	            </div>
            </div>
    	</div>
    	<nav class="navbar navbar-default navbar-fixed-bottom align-center navbar-xs">
			<div class="container">
				Copyright 2017 &copy; Project Explorer
			</div>
		</nav>
    </body>
</html>