<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
</head>
<body>
	<span>Hello World! I have been authenticated!</span>
	
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Title</th>
				<th>Description</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Billable</th>
				<th>Active</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="project : ${projects}">
				<form th:action="@{/viewproject}" method="post">
					<td>
						<button type="submit" name="action" th:value="${project.pk}">View</button>
					</td>
					<td th:text="${project.title}"></td>
					<td th:text="${project.description}"></td>
					<td th:text="${project.start_date} ? ${#dates.format(project.start_date, 'dd-MMM-yyyy')}"></td>
					<td th:text="${project.end_date} ? ${#dates.format(project.end_date, 'dd-MMM-yyyy')}"></td>
					<td th:if="${project.is_billable}">Yes</td><td th:unless="${project.is_billable}">No</td>
					<td th:if="${project.is_active}">Yes</td><td th:unless="${project.is_active}">No</td>
				</form>
			</tr>
		</tbody>
	</table>
<!-- 	<p th:text="'Token: ' + ${test.token}" /> -->
</body>
</html>